* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 0.9375rem;
}

.attribution {
  color: white;
  font-family: "Alata", sans-serif;
  font-size: 1.11rem;
  text-align: center;
  max-width: 80%;
  margin: 1rem auto 0 auto;
}
.attribution a {
  color: #3e52a3;
}

.header {
  min-height: 52.0625rem;
  width: 100%;
  background: url("/images/mobile/image-hero.jpg") no-repeat center center/cover;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
@media (min-width: 90rem) {
  .header {
    min-height: 41.625rem;
    width: 100%;
    background: url("/images/desktop/image-hero.jpg") no-repeat center center/cover;
  }
}
.header__nav {
  padding: 3.0625rem 1.9825rem;
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
@media (min-width: 90rem) {
  .header__nav {
    margin-bottom: 5.6875rem;
    padding: 3.6875rem 10.0625rem;
  }
}
.header__nav__hamburger {
  display: block;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  cursor: pointer;
}
@media (min-width: 90rem) {
  .header__nav__hamburger {
    display: none;
  }
}
.header__nav__links {
  display: none;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
@media (min-width: 90rem) {
  .header__nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__nav__links a {
  position: relative;
  display: block;
  text-decoration: none;
  color: white;
  font-family: "Alata", sans-serif;
  font-size: 1.32rem;
  font-weight: bold;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
@media (min-width: 90rem) {
  .header__nav__links a:hover {
    -webkit-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .header__nav__links a:hover::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 55%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    height: 4px;
    width: 37px;
    margin: auto;
    background: white;
    border-radius: 10000px;
  }
  .header__nav__links a:not(:last-child) {
    margin-right: 2.0625rem;
  }
}
.header__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  width: 87%;
  height: 15.6875rem;
  margin: auto;
  border: 0.375rem solid white;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.6875rem;
  padding: 2rem 2.8125rem;
  color: white;
}
.header__hero p {
  line-height: 3rem;
}
@media (min-width: 90rem) {
  .header__hero {
    font-size: 3.5125rem;
    padding: 2.125rem 6.125rem 2.3125rem 3rem;
    min-height: 17.5rem;
    width: 40.8125rem;
    margin-left: 10.125rem;
    margin-bottom: 8.8125rem;
  }
  .header__hero p {
    line-height: 4rem;
  }
}

@media (min-width: 90rem) {
  .section__one {
    max-width: 100%;
    min-height: 49.875rem;
  }
}
.section__one__container {
  position: relative;
  max-width: 87%;
  margin: auto;
  padding: 7.625rem 0 8rem 0;
}
@media (min-width: 90rem) {
  .section__one__container {
    position: relative;
    max-width: 80%;
    margin: auto;
    padding-top: 9.8125rem;
  }
}
.section__one__container img {
  width: 100%;
  margin: auto;
}
@media (min-width: 90rem) {
  .section__one__container img {
    position: absolute;
    width: 45.75rem;
    height: 31.0625rem;
  }
}
.section__one__container .section__one__details {
  padding: 3.875rem 0 0 0;
}
@media (min-width: 90rem) {
  .section__one__container .section__one__details {
    position: absolute;
    top: 21.375rem;
    left: 35.5rem;
    width: 44.125rem;
    min-height: 25.375rem;
    background-color: white;
    padding: 5.8125rem 5.9375rem;
  }
}
.section__one__container .section__one__details h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.375rem;
  text-transform: uppercase;
  text-align: center;
  width: 21.625rem;
  margin: auto;
}
@media (min-width: 90rem) {
  .section__one__container .section__one__details h3 {
    font-size: 2.5625rem;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    text-align: left;
    margin: 0 0 2.5625rem 0;
  }
}
.section__one__container .section__one__details p {
  font-family: "Alata", sans-serif;
  color: #8c8c8c;
  font-size: 1.32rem;
  text-align: center;
  width: 21.725rem;
  margin: 2.25rem auto 0 auto;
}
@media (min-width: 90rem) {
  .section__one__container .section__one__details p {
    width: 33.975rem;
    text-align: left;
    font-size: 1.105rem;
    font-family: "Alata", sans-serif;
    color: #8c8c8c;
    margin: 0;
  }
}

@media (min-width: 90rem) {
  .section__two {
    min-height: 77.9375rem;
    padding: 0 10.125rem;
  }
}
.section__two .section__one__top {
  max-width: 100%;
}
@media (min-width: 90rem) {
  .section__two .section__one__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.section__two .section__one__top h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.25rem;
  margin-bottom: 4.125rem;
}
@media (min-width: 90rem) {
  .section__two .section__one__top h3 {
    text-align: left;
  }
}
.section__two .section__one__top .desktop__see__all__button {
  text-decoration: none;
  color: black;
  background: yellow;
  margin-bottom: 4.125rem;
  display: none;
}
@media (min-width: 90rem) {
  .section__two .section__one__top .desktop__see__all__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 12.75rem;
    height: 2.75rem;
    padding: 1.125rem 2.4375rem;
    background-color: white;
    border: 0.1875rem solid black;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .section__two .section__one__top .desktop__see__all__button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
}
.section__two .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.75rem;
  width: 100%;
}
@media (min-width: 90rem) {
  .section__two .grid {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
.section__two .grid .gridDiv {
  position: relative;
  width: 87%;
  margin: auto;
  padding: 4.1675rem 0 2.2rem 1.5625rem;
  min-height: 9.5625rem;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.section__two .grid .gridDiv:hover {
  cursor: pointer;
}
.section__two .grid .gridDiv:hover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  z-index: 1;
}
@media (min-width: 90rem) {
  .section__two .grid .gridDiv:hover .overlay {
    background: rgba(255, 255, 255, 0.75);
  }
}
.section__two .grid .gridDiv:hover p {
  color: black;
  opacity: 0.5;
}
@media (min-width: 90rem) {
  .section__two .grid .gridDiv {
    width: 100%;
    min-height: 28.3125rem;
    padding: 22rem 0 2.2rem 1.5625rem;
  }
}
.section__two .grid .gridDiv p {
  position: absolute;
  font-size: 1.55rem;
  font-weight: bold;
  width: 8.375rem;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  z-index: 2;
  opacity: 0.7;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
@media (min-width: 90rem) {
  .section__two .grid .gridDiv p {
    font-size: 1.55rem;
    opacity: 0.6;
  }
}
.section__two .grid .gridDiv .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
@media (min-width: 90rem) {
  .section__two .grid .gridDiv .overlay {
    background: rgba(0, 0, 0, 0.6);
  }
}
.section__two .grid .deep__earth {
  background: url("../images/mobile/image-deep-earth.jpg") no-repeat center center/cover;
}
@media (min-width: 90rem) {
  .section__two .grid .deep__earth {
    background: url("../images/desktop/image-deep-earth.jpg") no-repeat center center/cover;
  }
}
.section__two .grid .night__arcade {
  background: url("../images/mobile/image-night-arcade.jpg") no-repeat center center/cover;
}
@media (min-width: 90rem) {
  .section__two .grid .night__arcade {
    background: url("../images/desktop/image-night-arcade.jpg") no-repeat center center/cover;
  }
}
.section__two .grid .soccer__team {
  background: url("../images/mobile/image-soccer-team.jpg") no-repeat center center/cover;
}
@media (min-width: 90rem) {
  .section__two .grid .soccer__team {
    background: url("../images/desktop/image-soccer-team.jpg") no-repeat center center/cover;
  }
}
.section__two .grid .the__grid {
  background: url("../images/mobile/image-grid.jpg") no-repeat center center/cover;
}
@media (min-width: 90rem) {
  .section__two .grid .the__grid {
    background: url("../images/desktop/image-grid.jpg") no-repeat center center/cover;
  }
}
.section__two .grid .the__grid p {
  width: 6.175rem;
}
.section__two .grid .above__vr {
  background: url("../images/mobile/image-from-above.jpg") no-repeat center center/cover;
}
@media (min-width: 90rem) {
  .section__two .grid .above__vr {
    background: url("../images/desktop/image-from-above.jpg") no-repeat center center/cover;
  }
}
.section__two .grid .pocket__borealis {
  background: url("../images/mobile/image-pocket-borealis.jpg") no-repeat center center/cover;
}
@media (min-width: 90rem) {
  .section__two .grid .pocket__borealis {
    background: url("../images/desktop/image-pocket-borealis.jpg") no-repeat center center/cover;
  }
}
.section__two .grid .the__curiosity {
  background: url("../images/mobile/image-curiosity.jpg") no-repeat center center/cover;
}
@media (min-width: 90rem) {
  .section__two .grid .the__curiosity {
    background: url("../images/desktop/image-curiosity.jpg") no-repeat center center/cover;
  }
}
.section__two .grid .fisheye {
  background: url("../images/mobile/image-fisheye.jpg") no-repeat center center/cover;
}
@media (min-width: 90rem) {
  .section__two .grid .fisheye {
    background: url("../images/desktop/image-fisheye.jpg") no-repeat center center/cover;
  }
}
.section__two .see__all__button {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12.75rem;
  height: 2.75rem;
  margin: 2.5rem auto 7.625rem auto;
  padding: 1.25rem 2.4375rem;
  background-color: white;
  border: 0.1875rem solid black;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.section__two .see__all__button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
@media (min-width: 90rem) {
  .section__two .see__all__button {
    display: none;
  }
}

.footer {
  text-align: center;
  width: 100%;
  min-height: 35.875rem;
  padding: 4.3125rem 0 2.6875rem 0;
  background-color: black;
}
@media (min-width: 90rem) {
  .footer {
    text-align: justify;
    min-height: 9.9375rem;
  }
}
.footer__logo {
  display: inline-block;
  text-align: center;
  margin: 0 auto 3.0625rem auto;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__links a {
  position: relative;
  font-size: 1.25rem;
  font-family: "Alata", sans-serif;
  text-decoration: none;
  color: white;
  margin: 0 0 2.1875rem 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.footer__links a:hover::after {
  content: "";
  position: absolute;
  top: 2.25rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  height: 0.25rem;
  width: 1.888rem;
  margin: auto;
  background: white;
  border-radius: 10000px;
}
.footer__social {
  padding: 1.75rem 0 1.625rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 2rem;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.footer__social a:not(:last-child) {
  margin-right: 1.625rem;
}
.footer__social a:hover::after {
  content: "";
  position: absolute;
  top: 2.825rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  height: 0.25rem;
  width: 1.875rem;
  margin: auto;
  background: white;
  border-radius: 10000px;
}
.footer p {
  color: #8c8c8c;
  font-family: "Alata", sans-serif;
  font-size: 1.275rem;
}