// Import Responsive Style
@import 'mixins';

.footer {
  // Mobile Style
  text-align: center;
  width: 100%;
  min-height: 35.875rem;
  padding: 4.3125rem 0 2.6875rem 0;
  background-color: $black;


  @include breakpoint-desktop(desktop) {
    // Desktop Style
    text-align: justify;
    min-height: 9.9375rem;

  }

  &__logo {
    // Mobile Style
    // background: yellow;
    display: inline-block;
    text-align: center;
    margin: 0 auto 3.0625rem auto;


    @include breakpoint-desktop(desktop) {
      // Desktop Style

    }

    // svg {
    //   // display: block;
    //   // align-self: center;
    //   text-align: center;
    // }
  }

  &__links {
    // Mobile Style
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    @include breakpoint-desktop(desktop) {
      // Desktop Style
      // background: yellow;

    }

    a {
      // Desktop Style
      position: relative;
      font-size: 1.25rem;
      font-family: $fontOne;
      text-decoration: none;
      color: $white;
      margin: 0 0 2.1875rem 0;
      transition: all 0.6s ease-in-out;

      &:hover {
        &::after {
          content: "";
          position: absolute;
          top: 2.25rem;
          left: 50%;
          transform: translate(-50%);
          height: 0.25rem;
          width: 1.888rem;
          margin: auto;
          background: $white;
          border-radius: 10000px;
        }
      }

      @include breakpoint-desktop(desktop) {
        // Mobile Style


      }
    }

  }

  &__social {
    // Desktop Style
    // background: yellow;
    padding: 1.75rem 0 1.625rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    @include breakpoint-desktop(desktop) {
      // Mobile Style

    }

    a {
      // Mobile Style
      position: relative;
      text-decoration: none;
      color: $white;
      font-size: 2rem;
      transition: all 0.6s;

      &:not(:last-child) {
        margin-right: 1.625rem;
      }

      &:hover {
        &::after {
          content: "";
          position: absolute;
          top: 2.825rem;
          left: 50%;
          transform: translate(-50%);
          height: 0.25rem;
          width: 1.875rem;
          margin: auto;
          background: $white;
          border-radius: 10000px;
        }
      }
    }
  }

  p {
    color: $darkGray;
    font-family: $fontOne;
    font-size: 1.275rem;
  }

}
