// Import Responsive Style
@import 'mixins';


.footer {
  background-color: $black;
  text-align: center;
  min-height: 35.8125rem;
  padding: 4.3125rem 0;


  @include breakpoint-desktop(desktop) {
    display: flex;
    min-height: 9.875rem;
    padding: 2.75rem 10.125rem 2.75rem 10.125rem;
  }

  .div1 {
    // background: yellow;


    @include breakpoint-desktop(desktop) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
    }

    .footer__logo {


      @include breakpoint-desktop(desktop) {
        margin: 0 0 1.2rem 0;
      }
    }

    .footer__links {
      display: flex;
      flex-direction: column;
      font-family: $fontTwo;
      padding: 3.0625rem 0 3.9375rem 0;

      @include breakpoint-desktop(desktop) {
        flex-direction: row;
        padding: 0.4rem 0;
      }

      a {
        position: relative;
        text-decoration: none;
        font-family: $fontTwo;
        font-weight: bold;
        color: $white;
        font-size: 1.5625rem;


        &:hover {
          &::after {
            content: '';
            position: absolute;
            top: 1.75rem;
            left: 53%;
            transform: translate(-50%);
            height: 0.18rem;
            width: 2.3125rem;
            margin: auto;
            background: $white;
            border-radius: 625rem;
          }
        }

        &:not(:last-child) {
          margin-bottom: 2.25rem;
        }

        @include breakpoint-desktop(desktop) {
          font-size: 1.2rem;

          &:not(:last-child) {
            margin-right: 1.25rem;
          }
        }
      }
    }


  }

  .div2 {
    // background: pink;

    @include breakpoint-desktop(desktop) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      margin-left: auto;
    }

    .footer__social {


      @include breakpoint-desktop(desktop) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

      a {
        position: relative;
        text-decoration: none;
        font-family: $fontTwo;
        color: $white;
        font-size: 1.8125rem;
        transition: 0.5s;


        &:hover {
          &::after {
            content: '';
            position: absolute;
            top: 35px;
            left: 53%;
            transform: translate(-50%);
            height: 0.18rem;
            width: 1.8125rem;
            margin: auto;
            background: $white;
            border-radius: 625rem;
          }
        }


        &:not(:last-child) {
          margin-right: 1.25rem;
        }


        @include breakpoint-desktop(desktop) {
          color: $white;
          margin: 0 0 1.2rem 0;

          &:not(:last-child) {
            margin-right: 1.345rem;
          }

        }
      }
    }

    p {
      font-family: $fontTwo;
      text-decoration: none;
      font-family: $fontOne;
      padding: 1.875rem 0 0 0;
      color: $white;
      font-size: 1.2rem;


      @include breakpoint-desktop(desktop) {
        padding: 0;
        font-size: 1.1rem;
      }
    }


  }

}
