// @import 'mixins';
@import 'variables';


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

body {
  font-size: $bodyFontSize;
}

.attribution {
  background-color: $black;
  color: $white;
  font-family: $fontOne;
  font-size: 1.11rem;
  text-align: center;
  max-width: 80%;
  margin: 1rem auto 0 auto;

  a {
    color: hsl(228, 45%, 44%);
  }
}
