// Import Responsive Style
@import 'mixins';


.section__one {
// Mobile First View



  // Desktop Style
  @include breakpoint-desktop(desktop) {
    max-width: 100%;
    min-height: 49.875rem;
  }

  &__container {
    // Mobile First View
    position: relative;
    max-width: 80%;
    margin: auto;
    padding-top: 9.8125rem;


    // Desktop Style
    @include breakpoint-desktop(desktop) {
      position: relative;
      max-width: 80%;
      margin: auto;
      padding-top: 9.8125rem;
    }


    img {
      // Mobile First View



      // Desktop Style
      @include breakpoint-desktop(desktop) {
        position: absolute;
        width: 45.75rem;
        height: 31.0625rem;
      }
    }

    .section__one__details {
      // Mobile First View



      // Desktop Style
      @include breakpoint-desktop(desktop) {
        position: absolute;
        top: 21.375rem;
        left: 35.5rem;
        width: 44.125rem;
        min-height: 25.375rem;
        background-color: $white;
        padding: 5.8125rem 5.9375rem;
      }

      h3 {
        // Mobile First View



        // Desktop Style
        @include breakpoint-desktop(desktop) {
          font-size: 2.5625rem;
          text-transform: uppercase;
          font-family: $fontTwo;
          margin: 0 0 2.5625rem 0;
        }
      }

      p {
        // Mobile First View



        // Desktop Style
        @include breakpoint-desktop(desktop) {
          font-size: 1.1rem;
          font-family: $fontOne;
          color: $darkGray;
        }
      }
    }
  }
}
